# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
.venv/

# Ignore the Flask session and instance directories
flask_session/
/instance/*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# this is where people need to EBIRD_TOKEN, OPENCAGE_KEY, and SECRET_KEY
.env

sqlite/birdserver.db

# Local .terraform directories
**/.terraform/*

# Ignore variables files
*.auto.tfvars

# Ignore override files
*.tfoverride

# Ignore environment-specific files
.envrc

# Ignore CLI configuration files
.terraformrc
terraform.rc

terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
