# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
.venv/

# Ignore the Flask session directory
flask_session/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# this is where people need to EBIRD_TOKEN, OPENCAGE_KEY, and SECRET_KEY
.env

sqlite/birdserver.db