nav .navbar-brand {
  font-size: xx-large;
  color: red;
}

.card {
  color: red;
}

.card a {
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Use the same color as the parent element */
}


.text-xs {
  font-size: 0.75rem;
  /* Example value, adjust as needed */
}

.navbar-nav.flex-wrap.flex-row .nav-item {
  margin-right: 8px;
  /* Adjust this value as needed */
}

.search-button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.search-button:hover {
  background: #0b7dda;
}