{% extends "layout.html" %}

{% block title %}
BirdResults
{% endblock %}

{% block main %}
<div class="container mb-5" style="margin: 0; padding: 0;">
    <table id="birdResultsTable" class="display">
        <thead>
            <tr>
                <th>Common Name</th>
                <th>Scientific Name</th>
            </tr>
        </thead>
        <tbody>
            {% for bird in birds %}
            <tr>
                <td><a href="/bird?species_code={{bird.species_code}}">{{ bird.common_name }}</a></td>
                <td>{{ bird.scientific_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}