{% extends "layout.html" %}

{% block title %}
Bird Sighting
{% endblock %}

{% block main %}

<div class="container">
    <div class="table-responsive">
        <table id="birdSightingTable" class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Bird</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ sighting.timestamp }} </td>
                    <td> {{ common_name }} </td>
                    <td> {{ sighting.notes }} </td>
                    <td> {{ sighting.location }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}