{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1 class="text-center mt-4 mb-5">Bird Sighting History</h1>
    <div class="container">
        <table id="birdSightingsTable" class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Bird Name</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Location</th>
                    <th scope="col"></th>
                    <th scope="col" style="display:none;">Hidden Field</th>
                </tr>
            </thead>
            <tbody>
                {% for sighting in bird_sightings %}
                    <tr>
                        <td>{{ sighting.timestamp }}</td>
                        <td>
                            <a href="/bird?bird_id={{ sighting.bird_id }}">
                                {{ sighting.common_name }}
                            </a>
                        </td>
                        <td>{{ sighting.notes }}</td>
                        <td>{{ sighting.location }}</td>
                        <td>
                            <button type="button" class="btn btn-primary edit-btn" data-toggle="modal" data-target="#editModal">
                                Edit
                            </button>
                        </td>
                        <td style="display:none;"> {{ sighting.id }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="editModalTitle">Edit Bird Sighting</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="sightingForm">
                    <input type="hidden" id="editBirdSightingID" name="id">
                    <div class="form-group">
                        <label for="Bird Name">Bird Name:</label>
                        <input type="text" class="form-control" id="editBirdName" name="birdname" readonly>
                    </div>
                    <div class="form-group">
                        <label for="timestamp">Timestamp:</label>
                        <input type="datetime-local" class="form-control" id="editTimestamp" name="timestamp" required>
                    </div>
                    <div class="form-group">
                        <label for="notes">Notes:</label>
                        <textarea class="form-control" id="editNotes" name="notes" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="location">Location:</label>
                        <textarea class="form-control" id="editLocation" name="location" rows="4"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancelEdit" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitEdit">Save changes</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}