{% extends "layout.html" %}

{% block title %}
    Watch
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1>Watch List</h1>
        <ul class="list-group">
            {% for bird in birds %}
                <li class="list-group-item">
                    <a href="/bird?bird_id={{bird.id}}">{{ bird.common_name }}</a><br>
                    <strong>Scientific Name:</strong> {{ bird.scientific_name }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}